<html>

<head>
  <title>Gerador de Questão</title>
  <meta charset="UTF-8" />
  {{ style('styles/admin/bootstrap.min') }}
  {{ script('scripts/jquery.min') }}
  {{ script('icons/feather.min') }}
  {{ style('styles/admin/cria') }}
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
  {{ style('styles/admin/exam_preview') }}
</head>

<body>
  @component('components.header')
  @endcomponent
  <br><br>
  <div class="container" id="container">
    <div class="row justify-content-center">
      <div class="col-12">


        <div class="descricao">

        </div>
        <div class="formulario">
          <form name="questoes" id="questoes" method="POST" enctype="multipart/form-data" action="{{ route('questions.create') }}" autocomplete="off">
            {{ csrfField() }}
            
            <p>
              <h5>Resumo questão:</h5>
            </p>
            <textarea rows="4" required name="resumo" class="resumo_box form-control required" type="text"
              maxlength="254"
              placeholder="Escreva aqui um resumo sucinto da questão (max 255 caracteres)"></textarea><br>

            <p>
              <h5>Enunciado:</h5>
            </p>

            <textarea name="enunciado" id="editor" type="text"></textarea><br><br>

            <p>
              <h5>Alternativas:</h5>
            </p>
            <div class="row">
              <div class="col-2"><input id="op1" class="tipo_alt1" style="color:black !important;"
                  name="tipo_alternativa" value="text" type="radio" checked><label for="op1">Texto</label></div>
              <div class="col-2"><input id="op2" class="tipo_alt2" name="tipo_alternativa" value="image"
                  type="radio"><label for="op2">Imagem</label></div><br><br>
            </div>
            <!-- Caso seja texto -->
            <div class="esconde_mostra_texto">


              <input id="txt1" name="alt[]" type="text" class="form-control" placeholder="Alternativa CORRETA"
                required><br>
              <input id="txt2" name="alt[]" type="text" class="form-control" placeholder="Alternativa Errada"
                required><br>
              <input id="txt3" name="alt[]" type="text" class="form-control" placeholder="Alternativa Errada"
                required><br>
              <input id="txt4" name="alt[]" type="text" class="form-control" placeholder="Alternativa Errada"
                required><br>
              <input id="txt5" name="alt[]" type="text" class="form-control" placeholder="Alternativa Errada"
                required><br>
            </div>

            <!-- Caso seja imagem -->
            <div class="esconde_mostra_img">
              <label for='in2' class="btn btn-primary"><input id="in2" type="file" name="imagem_alt[]"
                  accept="image/jpeg, image/png"></label><span id="file2"></span><br>
              <label for='in3' class="btn btn-primary"><input id="in3" type="file" name="imagem_alt[]"
                  accept="image/jpeg, image/png"></label><span id="file3"></span><br>
              <label for='in4' class="btn btn-primary"><input id="in4" type="file" name="imagem_alt[]"
                  accept="image/jpeg, image/png"></label><span id="file4"></span><br>
              <label for='in5' class="btn btn-primary"><input id="in5" type="file" name="imagem_alt[]"
                  accept="image/jpeg, image/png"></label><span id="file5"></span><br>
              <label for='in6' class="btn btn-primary"><input id="in6" type="file" name="imagem_alt[]"
                  accept="image/jpeg, image/png"></label><span id="file6"></span><br>
            </div>

            <br>

            <p>
              <h5>Dificuldade:</h5>
            </p><br>

            <div class="row ">
              <div class="col-4"><input id="dif1" required name="dificuldade" type="radio" value="1">
                <label for="dif1" class="facil">Fácil</label>
              </div>
              <div class="col-4"><input id="dif2" required name="dificuldade" type="radio" value="2">
                <label for="dif2" class="medio"> Média</label>
              </div>
              <div class="col-4"><input id="dif3" required name="dificuldade" type="radio" value="3">
                <label for="dif3" class="dificil">Difícil</label>
              </div>
              <div class="col-4"><input id="dif4" required name="dificuldade" type="radio" value="4">
                <label for="dif4" class="mod">MOD</label>
              </div>
            </div>
            <br><br>
            <p><button id="Preview" type="button" class="btn btn-success" value="Preview">Preview</button></p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Preview -->
  <div id="prev_cont" class="prev">
    <div class="header">
      <a class="timer" href="javascript:void(0)">
        <i data-feather="clock" class='clock-icon'></i>
        <span class="text" id="countdown">01:00</span>
      </a>
      
      <div class="circle-checked" ></div>
      <div class="circle-checked" ></div>
      <div class="circle-checked" ></div>
      <div class="circle-checked" ></div>
      <div class="circle-checked" ></div>
      <div class="circle-unchecked" ></div>
      <div class="circle-checked" ></div>
      <div class="circle-unchecked" ></div>
      <div class="circle-unchecked" ></div>
      <div class="circle-unchecked" ></div>
      <div class="circle-unchecked" ></div>
      <div class="circle-unchecked" ></div>
      <div class="circle-unchecked" ></div>
      <div class="circle-unchecked" ></div>
      <div class="circle-unchecked" ></div>

      @component('components.rules', text="As regras do evento ficarão listadas aqui.")
      @endcomponent
    </div>
  
    
    <div class="exam-body">
      <p class="title" id="title">questão X</p>
      <br>
      <p class="description" id="description"> </p>
  
      <label class="custom_container">
        <span id="answer1"></span>
        <img id="image1" src=""/>
        <input type="radio" name="radio" value="1" id="a1" onClick="document.getElementById('abc').checked = false;">
        <span class="checkmark"></span>
      </label>
      <label class="custom_container">
        <span id="answer2"></span>
        <img id="image2" src=""/>
        <input type="radio" name="radio" value="2" id="a2">
        <span class="checkmark"></span>
      </label>
      <label class="custom_container">
        <span id="answer3"></span>
        <img id="image3" src=""/>
        <input type="radio" name="radio" value="3" id="a3">
        <span class="checkmark"></span>
      </label>
      <label class="custom_container">
        <span id="answer4"></span>
        <img id="image4" src=""/>
        <input type="radio" name="radio" value="4" id="a4">
        <span class="checkmark"></span>
      </label>
      <label class="custom_container">
        <span id="answer5"></span>
        <img id="image5" src=""/>
        <input type="radio" name="radio" value="5" id="a5dd">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-12 text-center" style="margin-top: 20px;">
      <button style="margin-right: 50px;" id="Voltar" type="button" class="btn btn-warning">Voltar</button>
      <button id="Enviar" type="submit" class="btn btn-success" form="questoes">Enviar</button>
    </div>
  </div>

</body>

</html>


<script>
  feather.replace()

  const readURL = (input, id) => {
    if (input.files && input.files[0]) {
      let reader = new FileReader();
      
      reader.onload = (e) => {
        $(id).show().attr('src', e.target.result);
      }
      
      reader.readAsDataURL(input.files[0]);
    }
  }


  $(document).ready(function () {
    $('#editor').summernote({
      placeholder: 'Escreva aqui o enunciado da questão',
      tabsize: 2,
      height: 200,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['picture']],
        ['view', ['fullscreen']]
      ]
    });
  });

  // Essa parte é responsavel por fazer o preview da questão
  $(document).ready(function () {
    $('#prev_cont').hide();
    $('#Preview').on('click', () => {
      $('body').attr("style", "background-color: #5F6D8C;");
      $('#container').hide();
      $('#header').hide();
      $('#prev_cont').show();
      const enunciado_p = $('#editor').summernote('code');
      $('#description').html(enunciado_p);
      if ($('.tipo_alt1').is(':checked')) {
        $('#answer1').show().text($('#txt1').val());
        $('#answer2').show().text($('#txt2').val());
        $('#answer3').show().text($('#txt3').val());
        $('#answer4').show().text($('#txt4').val());
        $('#answer5').show().text($('#txt5').val());

        $('#image1').hide()
        $('#image2').hide()
        $('#image3').hide()
        $('#image4').hide()
        $('#image5').hide()
      } else {
        readURL(document.getElementById('in2'), '#image1');
        readURL(document.getElementById('in3'), '#image2');
        readURL(document.getElementById('in4'), '#image3');
        readURL(document.getElementById('in5'), '#image4');
        readURL(document.getElementById('in6'), '#image5');

        $('#answer1').hide()
        $('#answer2').hide()
        $('#answer3').hide()
        $('#answer4').hide()
        $('#answer5').hide()
      }
    });

    $('#Voltar').on('click', function () {
      $('#prev_cont').hide();
      $('#container').show();
      $('#header').show();
      $('body').attr("style", "");
    });
  });

</script>

<script>
  // Esconde/Mostra Op
  $(document).ready(function () {
    $(".esconde_mostra_img").hide();
    $(".esconde_mostra_texto").show();
    $('input[name=tipo_alternativa]').click(function () {
      if ($('.tipo_alt1').is(':checked')) {
        $('input[name^="alt"]').attr('required', true);
        $('input[name^="imagem_alt"]').removeAttr('required');
        $(".esconde_mostra_img").hide();
        $(".esconde_mostra_texto").show();
      } else {
        $('input[name^="alt"]').removeAttr('required');
        $('input[name^="imagem_alt"]').attr('required', true);
        $(".esconde_mostra_texto").hide();
        $(".esconde_mostra_img").show();
      }
    });
  });
</script>

<script>
  var $input2 = document.getElementById('in2'),
    $fileName2 = document.getElementById('file2');
  $fileName2.textContent = "Nenhum Arquivo Encontrado - Alternativa CORRETA";

  $input2.addEventListener('change', function () {
    $fileName2.textContent = this.value + " - Alternativa CORRETA";
    if ($fileName2.textContent == " - Alternativa CORRETA")
      $fileName2.textContent = "Nenhum Arquivo Encontrado - Alternativa CORRETA";
  });

  var $input3 = document.getElementById('in3'),
    $fileName3 = document.getElementById('file3');
  $fileName3.textContent = "Nenhum Arquivo Encontrado - Alternativa Errada";

  $input3.addEventListener('change', function () {
    $fileName3.textContent = this.value + " - Alternativa Errada";
    if ($fileName3.textContent == " - Alternativa Errada")
      $fileName3.textContent = "Nenhum Arquivo Encontrado - Alternativa Errada";
  });

  var $input4 = document.getElementById('in4'),
    $fileName4 = document.getElementById('file4');
  $fileName4.textContent = "Nenhum Arquivo Encontrado - Alternativa Errada";

  $input4.addEventListener('change', function () {
    $fileName4.textContent = this.value + " - Alternativa Errada";
    if ($fileName4.textContent == " - Alternativa Errada")
      $fileName4.textContent = "Nenhum Arquivo Encontrado - Alternativa Errada";
  });

  var $input5 = document.getElementById('in5'),
    $fileName5 = document.getElementById('file5');
  $fileName5.textContent = "Nenhum Arquivo Encontrado - Alternativa Errada";

  $input5.addEventListener('change', function () {
    $fileName5.textContent = this.value + " - Alternativa Errada";
    if ($fileName5.textContent == " - Alternativa Errada")
      $fileName5.textContent = "Nenhum Arquivo Encontrado - Alternativa Errada";
  });

  var $input6 = document.getElementById('in6'),
    $fileName6 = document.getElementById('file6');
  $fileName6.textContent = "Nenhum Arquivo Encontrado - Alternativa Errada";

  $input6.addEventListener('change', function () {
    $fileName6.textContent = this.value + " - Alternativa Errada";
    if ($fileName6.textContent == " - Alternativa Errada")
      $fileName6.textContent = "Nenhum Arquivo Encontrado - Alternativa Errada";
  });
</script>