<html>
  <head>
    <title>Criar evento</title>
    {{ style('styles/admin/bootstrap.min') }}
    {{ script('scripts/jquery.min') }}
    {{ style('styles/admin/agenda') }}
  </head>
  <body>
    
    @component('components.header')
    @endcomponent

    <div class="container">
      <form
        method="POST"
        enctype="multipart/form-data"
        action="{{ route('event.create') }}"
      >

        {{ csrfField() }}

        <br />
        <div class="row">
          <div class="col-12 col-sm-4">
            <p>Nome do Evento</p>
            <input
              required
              name="name"
              class="form-control"
              maxlength="64"
              type="text"
              value="{{ old('name', '') }}"
            />
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-12 col-sm-4">
            <p>Início do evento (Formato dd/mm/aaaa)</p>
            <input
              required
              name="start_date"
              class="date_box form-control"
              type="text"
              pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
              placeholder="01/01/1999"
              value="{{ old('start_date', '') }}"
            />
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-12 col-sm-4">
            <p>Fim do evento (Formato dd/mm/aaaa)</p>
            <input
              required
              name="end_date"
              class="date_box form-control"
              type="text"
              placeholder="01/01/1999"
              pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
              value="{{ old('end_date', '') }}"
            />
          </div>
        </div>

        <br />
        <p>Quantidade de questões</p>
        <div class="row">
          <div class="col-12 col-sm-1">
            Fáceis
            <input
              required
              name="amount_easy"
              class="date_box form-control"
              type="number"
              min="1"
              max="59"
              value="{{ old('amount_easy', '5') }}"
            />
          </div>
          <div class="col-12 col-sm-1">
            Médias
            <input
              required
              name="amount_medium"
              class="date_box form-control"
              type="number"
              min="1"
              max="59"
              value="{{ old('amount_medium', '5') }}"
            />
          </div>
          <div class="col-12 col-sm-1">
            Difíceis
            <input
              required
              name="amount_hard"
              class="date_box form-control"
              type="number"
              min="1"
              max="59"
              value="{{ old('amount_hard', '4') }}"
            />
          </div>
          <div class="col-12 col-sm-1">
            Especiais
            <input
              required
              name="amount_special"
              class="date_box form-control"
              type="number"
              min="1"
              max="59"
              value="{{ old('amount_special', '1') }}"
            />
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-12 col-sm-4">
            <p>Arquivo CSV com alunos</p>
            O arquivo deve possuir, ao menos, as seguintes colunas (em qualquer ordem, mas com o exato nome):<br>
            <b>Nome, Escola, Turno_Introcomp, Cpf, Email</b>
            <label for='in2' class="btn btn-primary">
              <input id="in2" type="file" name="students" accept=".csv" required>
            </label><span id="file2"></span>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-12 col-sm-4">
            <p>Regras da Prova</p>
            <textarea class="form-control" name="rules" rows="10">{{ old('rules', '') }}</textarea>
          </div>
        </div>

        <br /><br /><br />

        <p>
          <button class="btn btn-outline-success" id="Enviar" type="submit">
            Criar Evento
          </button>
        </p>
      </form>
    </div>
  </body>
</html>

@if(flashMessage('error'))

  <script>
    alert("{{ flashMessage('error') }}")
  </script>

@endif