
<!DOCTYPE html>
<html lang="en">

@component('components.header')
@endcomponent

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    {{ style('styles/admin/login_2') }}
    {{ style('styles/admin/bootstrap.min') }}

</head>
<body>
    <div class="wrapper">
        <h2>Registrar novo aluno</h2><br>

        <form action="{{ role === 'TEACHER' ? route('teacher.student.create') : route('student.create') }}" method="post">
            {{ csrfField() }}

        	<div class="form-group">
                <label>Nome:<sup></sup></label>
                <input type="text" name="name" class="form-control" value="{{ old('name', '') }}">
            </div>    <br>
            <div class="form-group">
                <label>Escola:<sup></sup></label>
                <input type="text" name="school"class="form-control" value="{{ old('school', '') }}">
            </div>    <br>
            <div class="form-group">
                <label>Turno:<sup>*</sup></label>
                <select class="form-control" name="shift" required>
                <option disabled hidden selected value="">Selecione o turno desejado pelo aluno</option>
                <option value="MORNING">Matutino</option>
                <option value="VESPERTINE">Vespertino</option>
                <option value="BOTH">Ambos</option>
                </select>
            </div> <br>
            <div class="form-group">
                <label>CPF:<sup></sup></label>
                <input type="text" name="cpf"class="form-control" value="{{ old('cpf', '') }}">
            </div>    <br>
            <div class="form-group">
                <label>Login (email):<sup>*</sup></label>
                <input type="text" name="email"class="form-control" value="{{ old('email', '') }}" required>
                <span class="help-block"></span>
            </div>    <br>
            <div class="form-group">
                <label>Senha:<sup>*</sup></label>
                <input type="text" name="password" class="form-control" value="{{ old('password', '') }}" required>
                <span class="help-block"></span>
            </div>    <br>
            <div class="form-group">
                <label>Evento Correspondente:<sup>*</sup></label>
                <select class="form-control" name="eventId" required>
                    <option disabled selected hidden value="">Selecione o evento correspondente</option>
                    @each(event in events)
                    <option value="{{ event.id }}" {{ old('eventId', '') === event.id ? 'selected' : '' }}>{{ event.name }}</option>
                    @endeach
                </select>
            </div><br>
	        <br>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Registrar">
            </div>

        </form>
    </div>
</body>
</html>

@if(flashMessage('error'))

  <script>
    alert("{{ flashMessage('error') }}")
  </script>

@endif
