<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Introcomp Exams</title>
  {{ script('icons/feather.min') }}
  {{ script('scripts/moment.min') }}
  {{ style('styles/student/exam') }}
</head>
<body>
  <div class="header">
    <a class="timer" href="{{ route('admin.exams') }}">
      <i data-feather="chevron-left" class='clock-icon'></i>
      <span class="text" id="countdown">Voltar</span>
    </a>
    
    @each(question in questions)
      @if(question.pivot.answer)
        <div class="circle-checked" id="circle{{$loop.index}}">{{$loop.index+1}}</div>
      @else
        <div class="circle-unchecked" id="circle{{$loop.index}}">{{$loop.index+1}}</div>
      @endif
    @endeach

  </div>

  @each(question in questions)
    <div class="exam-body">
      <p class="title" id="title">questão {{$loop.index+1}}</p>
      <br>
      <span class="description" id="description">{{{question.wording}}}</span>
      <br>
      <label class="container">
        <span id="answer1_{{$loop.index}}"></span>
        <input type="radio" name="radio_{{$loop.index}}" value="1_{{$loop.index}}" disabled>
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <span id="answer2_{{$loop.index}}"></span>
        <input type="radio" name="radio_{{$loop.index}}" value="2_{{$loop.index}}" disabled>
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <span id="answer3_{{$loop.index}}"></span>
        <input type="radio" name="radio_{{$loop.index}}" value="3_{{$loop.index}}" disabled>
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <span id="answer4_{{$loop.index}}"></span>
        <input type="radio" name="radio_{{$loop.index}}" value="4_{{$loop.index}}" disabled>
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <span id="answer5_{{$loop.index}}"></span>
        <input type="radio" name="radio_{{$loop.index}}" value="5_{{$loop.index}}" disabled>
        <span class="checkmark"></span>
      </label>

      <div style="margin: 100px;"></div>
    </div>
  @endeach
</body>
</html>


<script>
  let questions = {{{ toJSON(questions) }}}
  let answers = []

  questions.forEach((question, index) => {
    if (question.pivot.answer) {
      document.getElementById('circle' + index).className = "circle-checked"
    }

    updateQuestion(index)
  })

  function updateQuestion(actualQuestion) {
    let input1, input2, input3, input4, input5;
    let answer1 = document.getElementById("answer1_" + actualQuestion) 
    let answer2 = document.getElementById("answer2_" + actualQuestion) 
    let answer3 = document.getElementById("answer3_" + actualQuestion) 
    let answer4 = document.getElementById("answer4_" + actualQuestion) 
    let answer5 = document.getElementById("answer5_" + actualQuestion) 
    let selectedAnswer = document.querySelector('input[name="radio"]:checked')

    const isImage = questions[actualQuestion].is_image
    const correctAnswer = questions[actualQuestion].answer_1
    answers = []
    answers.push(questions[actualQuestion].answer_1)
    answers.push(questions[actualQuestion].answer_2)
    answers.push(questions[actualQuestion].answer_3)
    answers.push(questions[actualQuestion].answer_4)
    answers.push(questions[actualQuestion].answer_5)

    let seed = ({{{ seed }}} + questions[actualQuestion].summary.length) * questions[actualQuestion].wording.length

    const number1 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 4.99)))
    const number2 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 3.99)))
    const number3 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 2.99)))
    const number4 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 1.99)))   

    if (!isImage) {
      input1 = answers.splice(number1, 1)[0];
      input2 = answers.splice(number2, 1)[0];
      input3 = answers.splice(number3, 1)[0];
      input4 = answers.splice(number4, 1)[0];
      input5 = answers[0];
      answer1.innerHTML = input1;
      answer2.innerHTML = input2;
      answer3.innerHTML = input3;
      answer4.innerHTML = input4;
      answer5.innerHTML = input5;
    } else {
      input1 = answers.splice(number1, 1)[0];
      input2 = answers.splice(number2, 1)[0];
      input3 = answers.splice(number3, 1)[0];
      input4 = answers.splice(number4, 1)[0];
      input5 = answers[0];
      answer1.innerHTML = '<img style="width: 150px; height: 150px" src="/uploads/' + input1 + '" >'
      answer2.innerHTML = '<img style="width: 150px; height: 150px" src="/uploads/' + input2 + '" >'
      answer3.innerHTML = '<img style="width: 150px; height: 150px" src="/uploads/' + input3 + '" >'
      answer4.innerHTML = '<img style="width: 150px; height: 150px" src="/uploads/' + input4 + '" >'
      answer5.innerHTML = '<img style="width: 150px; height: 150px" src="/uploads/' + input5 + '" >'
    }

    
    if (questions[actualQuestion].pivot.answer) {
      let markedAnswer = questions[actualQuestion].pivot.answer

      if (markedAnswer == 1) markedAnswer = questions[actualQuestion].answer_1
      else if (markedAnswer == 2) markedAnswer = questions[actualQuestion].answer_2
      else if (markedAnswer == 3) markedAnswer = questions[actualQuestion].answer_3
      else if (markedAnswer == 4) markedAnswer = questions[actualQuestion].answer_4
      else if (markedAnswer == 5) markedAnswer = questions[actualQuestion].answer_5

      if (input1 == markedAnswer) {
        let input = document.querySelector('input[name="radio_'+ actualQuestion +'"][value="1_'+ actualQuestion +'"]')
        input.checked = true
      } else if (input2 == markedAnswer) {
        let input = document.querySelector('input[name="radio_'+ actualQuestion +'"][value="2_'+ actualQuestion +'"]')
        input.checked = true
      } else if (input3 == markedAnswer) {
        let input = document.querySelector('input[name="radio_'+ actualQuestion +'"][value="3_'+ actualQuestion +'"]')
        input.checked = true
      } else if (input4 == markedAnswer) {
        let input = document.querySelector('input[name="radio_'+ actualQuestion +'"][value="4_'+ actualQuestion +'"]')
        input.checked = true
      } else if (input5 == markedAnswer) {
        let input = document.querySelector('input[name="radio_'+ actualQuestion +'"][value="5_'+ actualQuestion +'"]')
        input.checked = true
      }
    }
    if (input1 == correctAnswer) {
      answer1.classList.add('correctAnswer')
    } else if (input2 == correctAnswer) {
      answer2.classList.add('correctAnswer')
    } else if (input3 == correctAnswer) {
      answer3.classList.add('correctAnswer')
    } else if (input4 == correctAnswer) {
      answer4.classList.add('correctAnswer')
    } else if (input5 == correctAnswer) {
      answer5.classList.add('correctAnswer')
    }
  }

  feather.replace();
</script>