@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E5E5E5;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.circle {
  border-radius: 50%;
  width: 200vh;
  height: 200vh;
  position: absolute;
  top: -10vh;
  left: -60vh;
  z-index: -1;
  background: #5F6D8C;
}

.welcome {
  position: absolute;
  top: 20vh;
  left: 50px;
  font-size: 60px;
  font-weight: bold;
  color: #182440;
}

.introcomp-logo {
  background: url("/logos/logo_introcomp.png");
  position: absolute;
  left: 50px;
  top: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  height: 85px;
  width: 526px;
}

.ufes-logo {
  background: url("/logos/logo_ufes.png");
  position: absolute;
  left: 50px;
  bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65px;
  width: 277px;
}

.pet-logo {
  background: url("/logos/logo_pet.png");
  position: absolute;
  left: 340px;
  bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 69px;
  width: 132px;
}

.login-form {
  height: 500px;
  width: 450px;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  right: 50px;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.login-title {
  background: #E6E6E6;
  height: 92px;
  border-radius: 30px 30px 0 0;
  font-size: 40px;
  line-height: 49px;
  padding-left: 25px;
  padding-top: 48px;
}

.no-border {
  border: none;
}

.no-border:focus {
  outline: none;
}

::placeholder {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 37px;
  color: black;
  opacity: 0.5;
}

.input-text {
  width: 87%;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 37px;
  color: black;
}

.icon-form {
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 10px;
  top: 50%;
}

.input-container {
  margin-left: 25px;
  margin-right: 25px;
  border-bottom: 2px solid #182440;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  top: 72px;
}

.input-container:focus {
  border-bottom: 1px solid #182440;
}

.button-login {
  background: #343F59;
  padding: 10px 50px;
  border-radius: 50px;
  border-style: none;
  color: white;
  font-family: Montserrat;
  font-size: 30px;
  line-height: 37px;
  text-align:center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-login:active {
  background: #182440;
  margin-top: 4px;
  margin-left: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
}

.login-button-container {
  text-align:center;
  position: relative;
  bottom: -150px;
}

.mt {
  margin-top: 20px;
}

/* section:before {
  content: "";
  position: absolute;
  background: url("/pyramid.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 402px;
  z-index: -1;
}

.logo {
  background: url("/logo.svg") no-repeat;
  width: 36px;
  height: 33px;
  background-size: 100%;
  margin-bottom: 35px;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}

.title {
  background: url("/title.svg") no-repeat;
  width: 219px;
  height: 36px;
  background-size: 100%;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.2s forwards;
}

.subtitle {
  margin-top: 25px;
  color: #BDB3CB;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.5;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}


a {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0.83rem 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
} */
