<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Introcomp Exams</title>
  {{ script('icons/feather.min') }}
  {{ script('scripts/moment.min') }}
  {{ style('styles/student/exam') }}
</head>
<body>
  <div class="header">
    <a class="timer" href="javascript:void(0)" onClick="toggleTimer()">
      <i data-feather="clock" class='clock-icon'></i>
      <span class="text" id="countdown"></span>
    </a>
    
    @each(question in questions)
      @if(question.pivot.answer)
        <div class="circle-checked" id="circle{{$loop.index}}"></div>
      @else
        <div class="circle-unchecked" id="circle{{$loop.index}}"></div>
      @endif
    @endeach
  
    @component('components.rules')
    @endcomponent
  </div>

  
  <div class="exam-body">
    <p class="title" id="title"></p>
    <br>
    <p class="description" id="description"> </p>
      
    <label class="container">
      <span id="answer1"></span>
      <input type="radio" name="radio" value="1">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <span id="answer2"></span>
      <input type="radio" name="radio" value="2">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <span id="answer3"></span>
      <input type="radio" name="radio" value="3">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <span id="answer4"></span>
      <input type="radio" name="radio" value="4">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <span id="answer5"></span>
      <input type="radio" name="radio" value="5">
      <span class="checkmark"></span>
    </label>

    <div style="margin: 100px;"></div>

    <a href="javascript:void(0)" class="next-button-container" id="next-button" onClick="nextQuestion()">
      <span style="margin-bottom: 2px;"> próxima</span>
      <i data-feather="chevron-right" class='chevron-icon'></i>
    </a>

    @component('components.finish')
        
    @endcomponent

    <a href="javascript:void(0)" class="back-button-container" id="back-button" onClick="previousQuestion()">
      <i data-feather="chevron-left" class='back-icon'></i>
      <span style="margin-bottom: 2px;"> anterior</span>
    </a>
  </div>
</body>
</html>

<script>
  let actualQuestion = 0
  let title = document.getElementById("title")
  let description = document.getElementById("description")
  let answer1 = document.getElementById("answer1") 
  let answer2 = document.getElementById("answer2") 
  let answer3 = document.getElementById("answer3") 
  let answer4 = document.getElementById("answer4") 
  let answer5 = document.getElementById("answer5") 

  let finishButton = document.getElementById("finish-button") 
  let backButton = document.getElementById("back-button")
  let nextButton = document.getElementById("next-button")
  let questions = {{{ toJSON(questions) }}}
  let answers = []

  finishButton.style.display = 'none'
  backButton.style.display = 'none'

  function nextQuestion() {
    if (actualQuestion < questions.length) {
      actualQuestion++;
      updateQuestion(actualQuestion - 1)
    }
    backButton.style.display = 'flex'
    if (actualQuestion == questions.length - 1) {
      finishButton.style.display = 'flex'
      nextButton.style.display = 'none'
    }
  }

  function previousQuestion() {
    if (actualQuestion > 0) {
      actualQuestion--;
      updateQuestion(actualQuestion + 1)
    }
    nextButton.style.display = 'flex'
    finishButton.style.display = 'none'
    if (actualQuestion == 0) {
      backButton.style.display = 'none'
    }
  }

  function updateQuestion(question) {
    let selectedAnswer = document.querySelector('input[name="radio"]:checked')
    let circle = document.getElementById('circle' + question)
    if (selectedAnswer) {
      
      circle.className = "circle-checked"

      let answersBefore = []
      answersBefore.push(questions[question].answer_1)
      answersBefore.push(questions[question].answer_2)
      answersBefore.push(questions[question].answer_3)
      answersBefore.push(questions[question].answer_4)
      answersBefore.push(questions[question].answer_5)

      let selectedValue = document.getElementById('answer' + selectedAnswer.value).innerHTML

      answersBefore.forEach((value) => {
        if (value === selectedValue) {
          questions[question].pivot.answer = selectedValue
        }
      })

      selectedAnswer.checked = false
    } else {
      questions[question].pivot.answer = null
      circle.className = "circle-unchecked"
    }

    answers = []
    answers.push(questions[actualQuestion].answer_1)
    answers.push(questions[actualQuestion].answer_2)
    answers.push(questions[actualQuestion].answer_3)
    answers.push(questions[actualQuestion].answer_4)
    answers.push(questions[actualQuestion].answer_5)

    let seed = ({{{ seed }}} + questions[actualQuestion].summary.length) * questions[actualQuestion].wording.length

    const number1 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 4.99)))
    const number2 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 3.99)))
    const number3 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 2.99)))
    const number4 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 1.99)))   

    title.innerHTML = "questão " + (actualQuestion + 1)
    description.innerHTML = questions[actualQuestion].wording
    answer1.innerText = answers.splice(number1, 1)[0]
    answer2.innerText = answers.splice(number2, 1)[0]
    answer3.innerText = answers.splice(number3, 1)[0]
    answer4.innerText = answers.splice(number4, 1)[0]
    answer5.innerText = answers[0]
    
    if (questions[actualQuestion].pivot.answer) {
      let markedAnswers = questions[actualQuestion].pivot.answer
      if (answer1.innerText == markedAnswers) {
        document.querySelector('input[name="radio"][value="1"]').checked = true
      } else if (answer2.innerText == markedAnswers) {
        document.querySelector('input[name="radio"][value="2"]').checked = true
      } else if (answer3.innerText == markedAnswers) {
        document.querySelector('input[name="radio"][value="3"]').checked = true
      } else if (answer4.innerText == markedAnswers) {
        document.querySelector('input[name="radio"][value="4"]').checked = true
      } else if (answer5.innerText == markedAnswers) {
        document.querySelector('input[name="radio"][value="5"]').checked = true
      }
    }
  }

  updateQuestion(actualQuestion)
</script>

<script>
  let toggle = true;
  let clock = document.getElementById("countdown") 
  const end = moment({{{ toJSON(schedule.end_datetime) }}})

  const time = moment.duration(end.diff(moment()))
  if (time.milliseconds() < 0) {
    window.location.replace({{{ toJSON(route('exam.finished')) }}})
  }
  clock.innerHTML = time.hours().toString().padStart(2, '0') + ":" + time.minutes().toString().padStart(2, '0')
  setInterval(() => {
    if (time.milliseconds() < 0) {
      window.location.replace({{{ toJSON(route('exam.finished')) }}})
    } else {
      if (toggle) {
        const time = moment.duration(end.diff(moment()))
        
        clock.innerHTML = time.hours().toString().padStart(2, '0') + ":" + time.minutes().toString().padStart(2, '0')
      }
    }

  }, 1000)

  feather.replace()

  function toggleTimer() {
    toggle = !toggle;
    if (!toggle) {
      clock.innerHTML = "TEMPO"
    } else {
      const time = moment.duration(end.diff(moment()))

      clock.innerHTML = time.hours().toString().padStart(2, '0') + ":" + time.minutes().toString().padStart(2, '0')
    }
  }
</script>