<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Introcomp Exams</title>
  {{ script('icons/feather.min') }}
  {{ script('scripts/moment.min') }}
  {{ style('styles/student/exam') }}
</head>
<body>
  <div class="header">
    <a class="timer" href="javascript:void(0)" onClick="toggleTimer()">
      <i data-feather="clock" class='clock-icon'></i>
      <span class="text" id="countdown"></span>
    </a>
    
    @each(question in questions)
      @if(question.pivot.answer)
        <div class="circle-checked" id="circle{{$loop.index}}" onClick="jumpToQuestion({{$loop.index}})"></div>
      @else
        <div class="circle-unchecked" id="circle{{$loop.index}}" onClick="jumpToQuestion({{$loop.index}})"></div>
      @endif
    @endeach
  
    @component('components.rules', text=rules)
    @endcomponent
  </div>

  
  <div class="exam-body">
    <p class="title" id="title"></p>
    <br>
    <p class="description" id="description"> </p>
      
    {{ csrfField() }}

    <input type="hidden" name="_csrf" value="xxxxxx">

    <label class="container">
      <span id="answer1"></span>
      <input type="radio" name="radio" value="1" id="a1">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <span id="answer2"></span>
      <input type="radio" name="radio" value="2" id="a2">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <span id="answer3"></span>
      <input type="radio" name="radio" value="3" id="a3">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <span id="answer4"></span>
      <input type="radio" name="radio" value="4" id="a4">
      <span class="checkmark"></span>
    </label>
    <label class="container">
      <span id="answer5"></span>
      <input type="radio" name="radio" value="5" id="a5dd">
      <span class="checkmark"></span>
    </label>

    <div style="margin: 100px;"></div>

    <a href="javascript:void(0)" class="next-button-container" id="next-button" onClick="nextQuestion()">
      <span style="margin-bottom: 2px;"> próxima</span>
      <i data-feather="chevron-right" class='chevron-icon'></i>
    </a>

    @component('components.finish')
        
    @endcomponent

    <a href="javascript:void(0)" class="back-button-container" id="back-button" onClick="previousQuestion()">
      <i data-feather="chevron-left" class='back-icon'></i>
      <span style="margin-bottom: 2px;"> anterior</span>
    </a>
  </div>
</body>
</html>

<script>
function saveAnswer(id) {
  let answer = "" 
  if (boolRadio) {
    const answerText = document.getElementById("answer" + boolRadio.value).innerText
    if (questions[actualQuestion].answer_1 === answerText) answer = "1"
    else if (questions[actualQuestion].answer_2 === answerText) answer = "2"
    else if (questions[actualQuestion].answer_3 === answerText) answer = "3"
    else if (questions[actualQuestion].answer_4 === answerText) answer = "4"
    else if (questions[actualQuestion].answer_5 === answerText) answer = "5"
  }

  var xhttp = new XMLHttpRequest();
  // xhttp.onreadystatechange = function() {
  //   if (this.readyState == 4 && this.status == 200) {
  //   //  document.getElementById("demo").innerHTML = this.responseText;
  //     console.log("yay"); 
  //   }
  // };
  xhttp.open("POST", "/examquestion/" + questions[id].id, true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.setRequestHeader("x-csrf-token", document.getElementsByName("_csrf")[0].value);
  xhttp.send("answer=" + answer );
}
</script>


<script>
  let actualQuestion = -1
  let title = document.getElementById("title")
  let description = document.getElementById("description")
  let answer1 = document.getElementById("answer1") 
  let answer2 = document.getElementById("answer2") 
  let answer3 = document.getElementById("answer3") 
  let answer4 = document.getElementById("answer4") 
  let answer5 = document.getElementById("answer5") 

  let finishButton = document.getElementById("finish-button") 
  let backButton = document.getElementById("back-button")
  let nextButton = document.getElementById("next-button")
  let questions = {{{ toJSON(questions) }}}
  let answers = []

  questions.forEach((question, index) => {
    if (question.pivot.answer) {
      document.getElementById('circle' + index).className = "circle-checked"
    } else if (actualQuestion === -1) {
      actualQuestion = index
    }
  })

  if (actualQuestion === -1) actualQuestion = 0;
  else if (actualQuestion === 0) {
    finishButton.style.display = 'none'
    backButton.style.display = 'none'
    nextButton.style.display = 'flex'
  } else if (actualQuestion === questions.length - 1) {
    finishButton.style.display = 'flex'
    nextButton.style.display = 'none'
    backButton.style.display = 'flex'
  } else {
    backButton.style.display = 'flex'
    nextButton.style.display = 'flex'
    finishButton.style.display = 'none'
  }

  function jumpToQuestion(question) {
    saveAnswer(actualQuestion)

    if (question == 0) {
      backButton.style.display = 'none'
      finishButton.style.display = 'none'
      nextButton.style.display = 'flex'
    } else if (question == questions.length - 1) {
      finishButton.style.display = 'flex'
      nextButton.style.display = 'none'
      backButton.style.display = 'flex'
    } else {
      backButton.style.display = 'flex'
      nextButton.style.display = 'flex'
      finishButton.style.display = 'none'
    }

    let previousQuestion = actualQuestion
    actualQuestion = question
    updateQuestion(previousQuestion)
  }

  function nextQuestion() {
    if (actualQuestion < questions.length) {
      saveAnswer(actualQuestion)
      actualQuestion++;
      updateQuestion(actualQuestion - 1)
    }
    backButton.style.display = 'flex'
    if (actualQuestion == questions.length - 1) {
      finishButton.style.display = 'flex'
      nextButton.style.display = 'none'
    }
  }

  function previousQuestion() {
    if (actualQuestion > 0) {
      saveAnswer(actualQuestion)
      actualQuestion--;
      updateQuestion(actualQuestion + 1)
    }
    nextButton.style.display = 'flex'
    finishButton.style.display = 'none'
    if (actualQuestion == 0) {
      backButton.style.display = 'none'
    }
  }

  function updateQuestion(question) {
    let selectedAnswer = document.querySelector('input[name="radio"]:checked')
    
    let circle = document.getElementById('circle' + question)
    if (selectedAnswer) {
      
      circle.className = "circle-checked"

      let answersBefore = []
      answersBefore.push(questions[question].answer_1)
      answersBefore.push(questions[question].answer_2)
      answersBefore.push(questions[question].answer_3)
      answersBefore.push(questions[question].answer_4)
      answersBefore.push(questions[question].answer_5)

      let selectedValue = document.getElementById('answer' + selectedAnswer.value).innerHTML

      answersBefore.forEach((value, index) => {
        if (value === selectedValue) {
          questions[question].pivot.answer = index + 1
        }
      })

      selectedAnswer.checked = false
    } else if (!firstTime) {
      questions[question].pivot.answer = null
      circle.className = "circle-unchecked"
    }
    boolRadio = null;

    const isImage = questions[actualQuestion].is_image
    answers = []
    answers.push(questions[actualQuestion].answer_1)
    answers.push(questions[actualQuestion].answer_2)
    answers.push(questions[actualQuestion].answer_3)
    answers.push(questions[actualQuestion].answer_4)
    answers.push(questions[actualQuestion].answer_5)

    let seed = ({{{ seed }}} + questions[actualQuestion].summary.length) * questions[actualQuestion].wording.length

    const number1 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 4.99)))
    const number2 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 3.99)))
    const number3 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 2.99)))
    const number4 = Math.floor((Math.abs(Math.sin(seed)*{{{ seed }}}*99 % 1.99)))   

    title.innerHTML = "questão " + (actualQuestion + 1)
    description.innerHTML = questions[actualQuestion].wording
    if (!isImage) {
      answer1.innerHTML = answers.splice(number1, 1)[0]
      answer2.innerHTML = answers.splice(number2, 1)[0]
      answer3.innerHTML = answers.splice(number3, 1)[0]
      answer4.innerHTML = answers.splice(number4, 1)[0]
      answer5.innerHTML = answers[0]
    } else {
      answer1.innerHTML = '<img style="width: 150px; height: 150px" src="uploads/' + answers.splice(number1, 1)[0] + '" >'
      answer2.innerHTML = '<img style="width: 150px; height: 150px" src="uploads/' + answers.splice(number2, 1)[0] + '" >'
      answer3.innerHTML = '<img style="width: 150px; height: 150px" src="uploads/' + answers.splice(number3, 1)[0] + '" >'
      answer4.innerHTML = '<img style="width: 150px; height: 150px" src="uploads/' + answers.splice(number4, 1)[0] + '" >'
      answer5.innerHTML = '<img style="width: 150px; height: 150px" src="uploads/' + answers[0] + '" >'
    }

    
    if (questions[actualQuestion].pivot.answer) {
      let markedAnswer = questions[actualQuestion].pivot.answer
      if (markedAnswer == 1) markedAnswer = questions[actualQuestion].answer_1
      if (markedAnswer == 2) markedAnswer = questions[actualQuestion].answer_2
      if (markedAnswer == 3) markedAnswer = questions[actualQuestion].answer_3
      if (markedAnswer == 4) markedAnswer = questions[actualQuestion].answer_4
      if (markedAnswer == 5) markedAnswer = questions[actualQuestion].answer_5

      if (answer1.innerText == markedAnswer) {
        let input = document.querySelector('input[name="radio"][value="1"]')
        input.checked = true
        boolRadio = input
      } else if (answer2.innerText == markedAnswer) {
        let input = document.querySelector('input[name="radio"][value="2"]')
        input.checked = true
        boolRadio = input
      } else if (answer3.innerText == markedAnswer) {
        let input = document.querySelector('input[name="radio"][value="3"]')
        input.checked = true
        boolRadio = input
      } else if (answer4.innerText == markedAnswer) {
        let input = document.querySelector('input[name="radio"][value="4"]')
        input.checked = true
        boolRadio = input
      } else if (answer5.innerText == markedAnswer) {
        let input = document.querySelector('input[name="radio"][value="5"]')
        input.checked = true
        boolRadio = input
      }
    }
  }

  let firstTime = true
  updateQuestion(actualQuestion)
  firstTime = false;
</script>

<script>
  const allRadios = document.getElementsByName('radio');
  let boolRadio;
  allRadios.forEach(radio => {
    radio.onclick = function () {
      if(boolRadio == this){
        this.checked = false;
        boolRadio = null;
      } else{
        boolRadio = this;
      }
    }
  });
</script>

<script>
  let toggle = true;
  let clock = document.getElementById("countdown") 
  const end = moment({{{ toJSON(schedule.end_datetime) }}})

  const time = moment.duration(end.diff(moment()))
  if (time.milliseconds() < 0) {
    window.location.replace({{{ toJSON(route('exam.finished')) }}})
  }
  clock.innerHTML = time.hours().toString().padStart(2, '0') + ":" + time.minutes().toString().padStart(2, '0')
  setInterval(() => {
    if (time.milliseconds() < 0) {
      window.location.replace({{{ toJSON(route('exam.finished')) }}})
    } else {
      if (toggle) {
        const time = moment.duration(end.diff(moment()))
        
        clock.innerHTML = time.hours().toString().padStart(2, '0') + ":" + time.minutes().toString().padStart(2, '0')
      }
    }

  }, 1000)

  feather.replace()

  function toggleTimer() {
    toggle = !toggle;
    if (!toggle) {
      clock.innerHTML = "TEMPO"
    } else {
      const time = moment.duration(end.diff(moment()))

      clock.innerHTML = time.hours().toString().padStart(2, '0') + ":" + time.minutes().toString().padStart(2, '0')
    }
  }
</script>

