<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Introcomp Exams</title>
  {{ script('icons/feather.min') }}
  {{ style('styles/student/waiting') }}
</head>
<body>
  <div class="circle"></div>
  <div class="introcomp-logo"></div>
  <div class="title">Obrigado por participar!</div>
  <a href="{{ route('student.index') }}" class="begin-button-container button-begin">
    <span style="margin-bottom: 2px;">Voltar</span>
  </a>
</body>
</html>

<script>
  feather.replace()
</script>