<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Introcomp Exams</title>
  {{ script('icons/feather.min') }}
  {{ script('scripts/moment.min') }}
  {{ style('styles/student/waiting') }}
</head>
<body>
  <div class="circle"></div>
  <div class="introcomp-logo"></div>
  <div class="title" id="title">Aguarde, sua prova já vai começar</div>
  <a class="timer" href="javascript:void(0)" onClick="toggleTimer()">
    <i data-feather="clock" class='clock-icon'></i>
    <span class="text" id="countdown"></span>
  </a>
  <a href="javascript:void(0)" class="begin-button-container button-begin disabled" onClick="startExam()" id="init">
    <span style="margin-bottom: 2px;">iniciar</span>
    <i data-feather="chevron-right" class='chevron-icon'></i>
  </a>


  @component('components.rules', text=rules)
  @endcomponent

</body>
</html>

<script>
  let toggle = true;
  let clock = document.getElementById("countdown") 
  let title = document.getElementById("title")
  let initButton = document.getElementById("init")
  let millisecDiff = moment({{{ toJSON(currentTime) }}}).diff(moment());
  const start = moment({{{ toJSON(schedule.start_datetime) }}}, 'DD/MM/YYYY [às] HH:mm');
  const registerString = {{{ toJSON(schedule.register_time) }}}
  const registerTime = registerString.split(':')
  start.add(registerTime[0], 'h')
  start.add(registerTime[1], 'm')
  start.add(registerTime[2], 's')

  const time = moment.duration(start.diff(moment().add(millisecDiff, 'milliseconds')))
  clock.innerHTML = time.hours().toString().padStart(2, '0') + ":" + time.minutes().toString().padStart(2, '0')
  if (time.asMilliseconds() < 0) {
    clock.innerHTML = "00:00"
    title.innerHTML = "Você já pode começar sua prova"
    initButton.classList.remove('disabled')
  }
  setInterval(() => {
    const time = moment.duration(start.diff(moment().add(millisecDiff, 'milliseconds')))
    if (time.asMilliseconds() <= 0) {
      clock.innerHTML = "00:00"
      title.innerHTML = "Você já pode começar sua prova"
      initButton.classList.remove('disabled')
    } else {
      if (toggle) {
        clock.innerHTML = time.hours().toString().padStart(2, '0') + ":" + time.minutes().toString().padStart(2, '0')
      }
    }
  }, 1000)

  feather.replace()

  function toggleTimer() {
    toggle = !toggle;
    if (!toggle) {
      clock.innerHTML = "TEMPO"
    } else {
      const time = moment.duration(start.diff(moment().add(millisecDiff, 'milliseconds')))

      clock.innerHTML = time.hours().toString().padStart(2, '0') + ":" + time.minutes().toString().padStart(2, '0')
    }
  }

  function startExam() {
    const time = moment.duration(start.diff(moment().add(millisecDiff, 'milliseconds')))
    if (time.milliseconds() < 0) {
      window.location.replace({{{ toJSON(route('exam.show')) }}})
    }
  }

  function updateTime() {
    let xhttp = new XMLHttpRequest();
    xhttp.open("GET", "/time", true);
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        let requestTime = Date.now() - requestSent;
        millisecDiff = moment(this.responseText).add(requestTime, 'milliseconds').diff(moment());
      }
    }
    let requestSent = Date.now();
    xhttp.send();
  }

  updateTime();
</script>