<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Introcomp Exams</title>
  {{ script('icons/feather.min') }}
  {{ style('styles/index') }}
</head>
<body>
  <div class="circle"></div>
  <div class="introcomp-logo"></div>
  <div class="ufes-logo"></div>
  <div class="pet-logo"></div>
  <div class="welcome">bem vindo</div>
  <form action="/login" method="post" >
    {{ csrfField() }}

    <div class="login-form">
      <div class="login-title">
        login
      </div>
      <div class="input-container">
        <i data-feather="mail" class='icon-form'></i>
        <input type="text" placeholder="e-mail" class="no-border input-text" id="emailInput">
      </div>
      <div class="login-button-container">
        <input type="submit" class="button-login" value="entrar">
      </div>
    </div>
  </form>
</body>
</html>

<script>
  feather.replace()
</script>