{{ style('styles/admin/header') }}

<div class="container-full" id="header">
		<div class="row">
			<div class="col-12">
	<header>
		<div class="introcomp"><a href="{{ route('/admin/menu') }}"><img src="{{ assetsUrl('logos/logo_introcomp2.png') }}"></a></div>
	</header>

		</div>
	</div>
</div>	